
*{
    
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
     font-optical-sizing: auto;
     scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
.layout{
    height: 100%;
    width: 100%;
    position: relative;
}
.navbar{
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px 0px gray;
    animation: nav-down 1.5s ease  1  forwards;
    
}
.nav-title{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    padding-left: 6vw;
    padding-right: 6vw;
    font-weight: 700;
    gap: 1vw;
    
}
.nav-list{
    display: flex;
    align-items: center;
    color: white;
    padding-left: 6vw;
    padding-right: 6vw;
    gap: 5vw;
}
.nav-list h4{
    font-size: 1.2vw;
    font-weight: 300;
}
.nav-list h4:hover{
    font-weight: 500;
}
.nav-list a{
    text-decoration: none;
    color: white;
}
.nav-list img{
    width: 2vw;
    display: none;

}

.nav-title logo img{
    width: 40px;
    height: 40px;
    
}


.title-head{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    padding: 1vw;
    position: relative;
    animation: popup 1.5s ease  1  forwards;
}
.title-head h1{
    font-size: 3vw;
    font-weight: 900;
}
.slid-div{
    width: 100%;
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center ;
    position: relative;
    margin-top: 0.5vw;
   
}


.card{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 0.5vw;
    margin: 1vw;
    box-shadow: 0px 0px 20px 5px grey;
    animation: fadein 1.5s ease  1  forwards;
    
}

.card img{
    width: 300px;
    border-radius: 10px;
}
.card-title{
    margin: 1vw;
}

.card-title h2{
    justify-content: flex-start;
    margin-bottom: 1vw;
    font-weight: 700;
}
.card-title p{
    font-size: 15px;
    font-weight: 400;
}
.button{
    display: flex;
    margin: 1vw;
    padding-top: 1vw;
    justify-content: center;
}
.btn{
    border-radius: 10px;
    padding: 0.7vw 3vw;
    border: 1px solid gray;
    font-weight: 400;
    background-color: white;
    cursor: pointer;
}
@keyframes fadein {
    0%{
        opacity: 0;
        transform: translateY(100px);
        
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        
    }
}
@keyframes popup {
    0%{
        opacity: 0;
        transform: translateZ(-100px) scale(0.8);
    }
    100%{
        opacity: 1;
        transform: translate(0px) scale(1);
    }
}
@keyframes nav-down {
    0%{
        transform: translateY(-70px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
.btn:hover{
    color: white;
    background-color: black;

}
.height-card img{
    height: 170px;
}
.logo img{
    width: 3vw;
}
.title-head-second{
    padding: 1.5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1vw;
    font-weight: 900;
    animation: popup 1.5s ease  1  forwards;

}
.states{
    margin: 2vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    animation: fadein 1.5s ease  1  forwards;
    position: relative;

}
.states h5{
    margin: 1vw 1vw;
    font-size: 1vw;
    font-weight: 400;
}
.states a{
    text-decoration: none;
    color: black;
}
.states h5:hover{
    font-weight: 900;
}
.foot{
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.foot h5{
    color: white;
    font-size: 1.3vw;
    padding: 1vw 1.5vw;
    font-weight: 400;
}
.foot p{
    color: white;
    font-size: 1vw;
    margin: 0vw 4vw;
    text-align: center;
    font-weight: 200;
    width: 60vw;
}
.link-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 1vw;
    

}
.link-img img{
    width: 3vw;
    cursor: pointer;
    
}
@media (max-width:900px) {

    .navbar{
        height: 70px;
    }

    .nav-title{
        font-size: 5vw;
        gap: 10px;
    }
    .logo img{
        width: 5vw;
        padding-top: 1.5vw;
    }
    .nav-list h4{
        display: none;
    }
    .nav-list img{
        width: 5vw;
        display: block;
    }
    .card-title h2{
        margin: 2vw 1vw;


    }
    .card-title p{
        font-size: 12px;
        margin: 4vw 1vw;
    }
    .button{
        margin: 8vw 2vw;
    }
    .btn{
        padding: 2vw 8vw;

    }    

    .title-head{
        margin: 4vw 2vw;
        padding: 4vw 2vw;
    }
    .title-head h1{
        font-size: 4vw;
        font-weight: 700;
    }
  
    .title-head-second h1{
        margin: 5vw 1vw;
        font-size: 4vw;
    }
    .states{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .states h5{
        font-size: 4vw;
        font-weight: 200;
        margin: 2vw 0vw;
    }
    .foot h5{
        font-size: 4vw;
        font-weight: 600;
    }
    .foot p{
        font-size: 3vw;
        width: 90vw;
    }
    .link-img{
        gap: 15px;
        padding: 4vw;
    }
    .link-img img{
        width: 7vw;
    }
       
}
